body{
    padding-top: 5%;
}
.jumbotron-main{
    background-image: url("../images/background11.jpg");
    margin-top: -2.5%;
    background-size: 100%;
}
.centered{
    text-align: center;
}

.paragraph{
    text-align: left;
}
.jumbo-header{
    text-align: center;
}
.jumbo-sub{
    text-align: center;
}
.jumbo-btn{
    margin-top: 2.5%;
    text-align: center;
}
.jumbotron-text-container{
    color: rgb(233, 233, 233);
    text-shadow: 2px 2px black;
    margin-top: 5%;
}
.jumbo-italicized{
    color:white;
    font-style: italic;
}
.dark-background{
    color: rgb(34, 34, 34);
}
.dropdown-menu li{
    font-size: 12px;
}
.navigation-item{
    margin-top: -2.0em;
    font-size: 16px;
}
.extend{
    height:29em;
}
.centered{
    text-align: center;
}
.Active{
    background-color: rgb(217, 217, 217);
}
.card-image{
    height:50%;
    width:50%;
    float:right;
}
.card-text{
    text-align: center;
}
.navbar{
    height:8.5%;
    font-size: 14px;
}

#newsletter{
    width: 40%;
    padding: 10px 0 10px 5px;
    border-radius: 10px;
    border-color: transparent;
    font-size: 14px;
}
.btn.btn-primary{
    background-color:rgb(81, 99, 249);
    border: transparent;
}
.jumbotron.jumbo-blue{
    height:10%;
    background-color:rgb(81, 99, 249);
}
.footer{
    background-color: black;
    padding-top:5%;
    padding-bottom: 2.5%;
    color:white;
}
.footer-element{
    padding-left: 1%;
    padding-right:1%;
    border-right: 1px solid white;
}
.jumbotron.jumbo-green{
    height:20%;
    background-color: rgb(28, 177, 43);
}
.panel > .panel-heading{
    background-image: none;
    background-color: rgb(81, 99, 249);
    text-align: center;
    color: white;
}
.card > .card-green{
    background-image: none;
    background-color: rgb(28, 177, 43);
    color:white;
}
.card-img-top{
    width: 100%;
    height:100%;
}
.card.flat{
    border: transparent;
    outline: none;
}
.partner-image{
    width: 50%;
    height:70%;
    margin-bottom: 20%;
}
.hr-divide{
    width:60%;
    margin-bottom: 5%;
}
.project-form{
    width: 30em;
    margin-top: 5%;
    margin-bottom: -10%;
}
.jumbotron-opp{
    background-image: url('../images/IMG_0332.jpg');
    margin-top: -2.5%;
    background-position: 10% 65%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.extend-md{
    height:24em;
}
.well-resized{
    width: 50%;
    text-align: center;
}
.right{
    float: right;
}
.left{
    float: left;
}
.well-mid{
    margin: 0px;
    width: 120%;

}
.panel-mid{
    width: 85%;
    margin: auto;
}
.card-title{
    text-align: center;
}
.jumbo-form-header{
    color:white;
}
.form-input-text{
    border-radius: 6px;
    border-color:transparent;
    outline: none;
    padding: 10px 0 10px 5px;
    width: 20em;

}
