<div ng-controller= "AddProjectController" class="container centered project-form">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Create Project</h2>
        </div>
        <div class="panel-body">
            <form action="/projects" method="post">
                <div class="form-group">
                    <label for="projectName">Project Name</label>
                    <input type="text" id="projectName" ng-model=project.title class="form-control" placeholder="Enter Project Name"/>
                </div>
                <div class="form-group">
                    <label for="projectWebsite">Project Website</label>
                    <input type="text" id="projectWebsite" ng-model=project.website class="form-control" placeholder="Enter Project Website"/>
                </div>
                <div class="form-group">
                    <label for="projectDesc">Project Description</label>
                    <textarea class="form-control" ng-model=project.desc id="projectDesc">Description...</textarea>
                </div>
                <div class="form-group">
                    <label for="projectTag">Project Tags</label>
                    <select class="form-control" ng-model=project.tag>
                        <option value="Environment">Environment</option>
                        <option value="Education">Education</option>
                        <option value="Poverty">Poverty</option>
                        <option value="Public Policy">Public Policy</option>
                    </select>
                </div>
                <input type="submit" class="btn btn-primary"/>
            </form>

        </div>


    </div>

</div>
