
<div class="container">
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" ng-model="searchText" class="form-control" placeholder="Search" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <ul ng-repeat="project in projects | filter:searchText">
        <li>{{project.name}}, {{project.desc}}</li>
    </ul>
</div>
