<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12" ng-repeat="project in vm.projectData">
            <div class="card" style="width:10rem;">
                <img class="card-img-top" src="..." alt="card-image"/>
                <div class="card-block">
                    <h4 class="card-header">{{project.title}}</h4>
                    <p class="card-text">{{project.desc}}</p>
                    <a class="btn btn-primary" href="{{vm.link}}">Find out More!</a>
                </div>
            </div>

        </div>

    </div>
</div>
