<div class="container" style="">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>{{vm.title}}</h2>
        </div>
        <div class="panel-body">
            <p>{{vm.content}}</p>
            <h2 style="text-align:center;">Meet Our Team</h2>
            <hr />
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="../images/AngelAguilar.jpg" alt="angel pic" />
                        <div class="card-block">
                            <h4 class="card-title">Angel Aguilar</h4>
                            <h5 class="card-text">Co-Founder/CEO</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="..." alt="angel pic" />
                        <div class="card-block">
                            <h4 class="card-title">William San Pedro</h4>
                            <h5 class="card-text">Co-Founder/CFO</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="../images/Sebastian.jpg" alt="angel pic" />
                        <div class="card-block">
                            <h4 class="card-title">Sebastian Rivera</h4>
                            <h5 class="card-text">Co-Founder/CTO</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="../images/Nieto.jpg" alt="angel pic" />
                        <div class="card-block">
                            <h4 class="card-title">Rodrigo Nieto</h4>
                            <h5 class="card-text">Co-Founder/Summit Director</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="../images/Nieto.jpg" alt="angel pic" />
                        <div class="card-block">
                            <h4 class="card-title">Maria Kharla</h4>
                            <h5 class="card-text">Opportunities Coordinator</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="../images/Nieto.jpg" alt="angel pic" />
                        <div class="card-block">
                            <h4 class="card-title">Juan Lam</h4>
                            <h5 class="card-text">Content Writer</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <h2 style="text-align:center;">Summit Team</h2>
                    <hr />
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="..." alt="angel pic" />
                        <div class="card-block">
                            <h4 class="card-title">Kevin Valido</h4>
                            <h5 class="card-text">Summit Marketing Director</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="..." alt="angel pic" />
                        <div class="card-block">
                            <h4 class="card-title">Gabriel Pupo</h4>
                            <h5 class="card-text">Logistics</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="..." alt="angel pic" />
                        <div class="card-block">
                            <h4 class="card-title">Nicholas Oyarzun</h4>
                            <h5 class="card-text">Executive Assistant</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="card">
                        <img class="card-img-top" src="..." alt="angel pic" />
                        <div class="card-block">
                            <h4 class="card-title">Emmanouil Tsavaris</h4>
                            <h5 class="card-text">Director of Communications</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
