<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">

            <h1>{{vm.title}}</h1>
            <h3>Info:</h3>
            <h4>Representative: {{vm.representative}}</h4>
            <h4>Email: {{vm.email}}</h4>
            <h4>Phone: {{vm.phone}}</h4>

        </div>
    </div>
</div>
