<div class="jumbotron extended jumbo-blue" style="margin-top:-2.5%;">
    <h1 class="jumbo-header" style="color:white;">Educating to push the youth into the future</h1>
    <div class="jumbo-sub">
        <h3 class="jumbo-italicized">Because educating helps make the world a better place</h3>
        <div class="container">
            <div class="row">
                <hr />
                <div class="col-lg-12">
                    <div class="card flat">
                        <div class="card-header card-green">
                            <h3>Protecting Our Planet
                                <i class="fa fa-tree fa-lg"></i>
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="container" style="margin-top:1.5%;">
                                        <h3>Climate Change</h3>
                                        <p class="paragraph">Maecenas neque ligula, sollicitudin id tempor eu, rutrum vitae nisi. Nullam vulputate nunc eget massa luctus, ac elementum nisl ullamcorper. Cras sollicitudin et tellus sed commodo. Integer nisi enim, pharetra rutrum metus id, eleifend gravida tortor. In sollicitudin ac lacus non pulvinar. Phasellus quis feugiat urna, vel eleifend enim. Praesent risus arcu, aliquam ac lectus vel, blandit ullamcorper orci. Maecenas nisi nisl, faucibus et sagittis non, suscipit non metus. Maecenas eu est eu augue rhoncus maximus. Sed quis nibh eu ligula varius congue nec sed dolor. Suspendisse placerat augue nec nisi dictum, eu tincidunt erat accumsan. Vivamus porta imperdiet lacus, vitae interdum orci semper sed. Fusce ipsum libero, sagittis ac sem non, mollis luctus mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque vehicula, odio vitae varius finibus, tortor sem dapibus ligula, in ornare magna dolor bibendum mauris.</p>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="container" style="width:80%; margin-top:5%;">
                                        <div class="list-group">
                                            <a class="list-group-item list-group-item-action active" href="#">Climate Change</a>
                                            <a class="list-group-item list-group-item-action" href="#">Energy Sustainability</a>
                                            <a class="list-group-item list-group-item-action" href="#">Reducing Carbon Emissions</a>
                                            <a class="list-group-item list-group-item-action" href="#">Promoting Solar Energy</a>
                                            <a class="list-group-item list-group-item-action" href="#">Effective Use of Our Natural Resources</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card flat">
                        <div class="card-header card-green">
                            <h3>Helping Others Reach Their Potential
                                <i class="fa fa-lightbulb-o fa-lg"></i>
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="container" style="margin-top:1.5%;">
                                        <h3>Potential</h3>
                                        <p class="paragraph">Maecenas neque ligula, sollicitudin id tempor eu, rutrum vitae nisi. Nullam vulputate nunc eget massa luctus, ac elementum nisl ullamcorper. Cras sollicitudin et tellus sed commodo. Integer nisi enim, pharetra rutrum metus id, eleifend gravida tortor. In sollicitudin ac lacus non pulvinar. Phasellus quis feugiat urna, vel eleifend enim. Praesent risus arcu, aliquam ac lectus vel, blandit ullamcorper orci. Maecenas nisi nisl, faucibus et sagittis non, suscipit non metus. Maecenas eu est eu augue rhoncus maximus. Sed quis nibh eu ligula varius congue nec sed dolor. Suspendisse placerat augue nec nisi dictum, eu tincidunt erat accumsan. Vivamus porta imperdiet lacus, vitae interdum orci semper sed. Fusce ipsum libero, sagittis ac sem non, mollis luctus mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque vehicula, odio vitae varius finibus, tortor sem dapibus ligula, in ornare magna dolor bibendum mauris.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="container" style="width:80%; margin-top:5%;">
                                        <div class="list-group">
                                            <a class="list-group-item list-group-item-action active" href="#">Youth Advocacy</a>
                                            <a class="list-group-item list-group-item-action" href="#">Financial Literacy</a>
                                            <a class="list-group-item list-group-item-action" href="#">Educating Others</a>
                                            <a class="list-group-item list-group-item-action" href="#">Starting Your Own Project</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

            </div>

                <div class="col-lg-12">
                    <div class="card flat">
                        <div class="card-header card-green">
                            <h3>Making Our City A Better Place To Live
                                <i class="fa fa-heart fa-lg"></i>
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="container" style="margin-top:1.5%;">
                                        <h3>Helping our cities develop</h3>
                                        <p class="paragraph">Maecenas neque ligula, sollicitudin id tempor eu, rutrum vitae nisi. Nullam vulputate nunc eget massa luctus, ac elementum nisl ullamcorper. Cras sollicitudin et tellus sed commodo. Integer nisi enim, pharetra rutrum metus id, eleifend gravida tortor. In sollicitudin ac lacus non pulvinar. Phasellus quis feugiat urna, vel eleifend enim. Praesent risus arcu, aliquam ac lectus vel, blandit ullamcorper orci. Maecenas nisi nisl, faucibus et sagittis non, suscipit non metus. Maecenas eu est eu augue rhoncus maximus. Sed quis nibh eu ligula varius congue nec sed dolor. Suspendisse placerat augue nec nisi dictum, eu tincidunt erat accumsan. Vivamus porta imperdiet lacus, vitae interdum orci semper sed. Fusce ipsum libero, sagittis ac sem non, mollis luctus mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque vehicula, odio vitae varius finibus, tortor sem dapibus ligula, in ornare magna dolor bibendum mauris.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="container" style="width:80%; margin-top:5%;">
                                        <div class="list-group">
                                            <a class="list-group-item list-group-item-action active" href="#">Public Policy Action</a>
                                            <a class="list-group-item list-group-item-action" href="#">Keeping Cities Clean</a>
                                            <a class="list-group-item list-group-item-action" href="#">Innovative Technology In Our Cities</a>
                                            <a class="list-group-item list-group-item-action" href="#">Entrepreneurship</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>
