<div class="jumbotron extend jumbotron-main">
    <div class="container">
        <div class="jumbotron-text-container">
            <h1 class="jumbo-header">Empowering the future, for the problems of Today</h1>
            <h3 class="jumbo-sub">Start your journey in becoming our future's problem solvers</h3>
        </div>
        <div class="jumbo-btn">
            <a class="btn btn-primary btn-lg" href="/roadmap">Begin</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="page-header centered">
        <h1>Welcome to the {{vm.title}} </h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h2>How We Work</h2></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</div>
                <div class="col-sm-12 col-lg-6">
                    <img style="width:90%;height:110%;" class="img-rounded" src="http://images.miamiandbeaches.com/images/111164_13156_full.jpg" alt="..." />
                </div>



            </div>

                </div>

                <div class="container-fluid">
                       <div class="well well-lg">
                           <div class="row">
                               <div class="col-sm-12 col-lg-4">
                                       <div class="well-text-content" style="text-align:center;">
                                           <h2>Networking <span><i class="fa fa-globe"></i></span></h2>
                                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a tellus tincidunt, auctor nisl pretium, vulputate massa. Cras ultrices ullamcorper quam, non sollicitudin quam. Ut sit amet turpis odio. Duis vel mi vitae libero faucibus ullamcorper eget a justo. Curabitur fringilla rutrum mi a placerat. Vivamus quis pharetra elit. Nulla facilisi.</p>
                                           <a href="#!/projects" class="btn btn-secondary btn-md">Learn More</a>
                                       </div>
                                </div>
                               <div class="col-sm-12 col-lg-4">
                                       <div class="well-text-content" style="text-align:center;">
                                           <h2>Educating <span><i class="fa fa-university"></i></span></h2>
                                           <p>Etiam gravida semper enim, quis dictum nulla tempor ac. In sed elit nec mi semper tincidunt vitae et turpis. Vestibulum mattis lacus risus, eu finibus ex dictum in. Ut sit amet nibh tellus. Nullam at est nec lectus maximus laoreet. Nulla turpis est, auctor in finibus ac, egestas nec ante. Ut nec arcu magna. Sed laoreet sagittis porttitor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                                           <a href="#!/education"class="btn btn-secondary btn-md">Learn More</a>
                                       </div>
                               </div>
                               <div class="col-sm-12 col-lg-4">
                                        <div class="well-text-content" style="text-align:center;">
                                           <h2>Empowering<span><i class="fa fa-child"></i></span></h2>
                                           <p>Pellentesque luctus lacus purus, non efficitur massa egestas varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis libero vitae elementum molestie. Pellentesque cursus pretium porttitor. Ut vel nisl arcu. Aliquam hendrerit bibendum euismod. Curabitur vulputate quis leo sagittis mattis. In sed velit velit.</p>
                                           <a href="#!/outreach" class="btn btn-secondary btn-md">Learn More</a>
                                           </div>
                                       </div>
                               </div>
                       </div>
                 </div>
    </div>
</div>

<div class="jumbotron extend jumbo-blue" style="margin-bottom:0px;">
    <div class="container">
            <h2 class="jumbo-header" style="color:white;">Want to sign up for our newsletter?</h2>
            <div class="jumbo-sub">
                <input type="email" id="newsletter" placeholder="Enter your email here"/>
            </div>
            <span >
                <div class="jumbo-btn">
                    <a class="btn btn-success btn-md">Sign Up</a>
                </div>
            </span>
    </div>
</div>
<div class="jumbotron extend jumbo-green">
    <div class="container">
        <h2 class="jumbo-header" style="color:white;">Our Partners</h2>
        <hr class="hr-divide"/>
        <div class="jumbo-sub">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <img class="partner-image" src="../images/belenlogo.png" />
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <img class="partner-image" stlye="width:60%;height:80%;margin-top:5%;"src="../images/CitizensClimateLobby_Logo.png" />
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <img class="partner-image" src="../images/KeyClubLogo.png" />
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <img class="partner-image" src="../images/FFEA2.png" />
                    </div>
                </div>
                <a class="btn btn-primary btn-lg" href="#!/opportunities">Become a partner</a>
            </div>
        </div>
    </div>
</div>
