    <div class="jumbotron extend-md jumbotron-opp" >
        <div class="jumbotron-text-container">
            <h1 class="jumbo-header">Connect Your Organization</h1>
            <h2 class="jumbo-sub">Find members in your area to expand your project's reach!</h2>
        </div>
    </div>

    <div class="panel panel-default panel-mid">
        <div class="panel-heading">
            <h2>Connecting your organization to MAP</h2>
        </div>
        <div class="panel-body">
            <div class="well">
                <h1 class="centered">What We Offer As an Organization</h1>
                <hr />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="well well-resized left">
                            <h3>Growing User Base</h3>
                            <p>Example text</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="well well-resized right">
                            <h3>Accomplished Organizations</h3>
                            <p>Example text</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="well well-resized left">
                            <h3>A Platform to Expand Your Project</h3>
                            <p>Example text</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="jumbotron jumbo-green">
        <h3 class="jumbo-header jumbo-form-header">Quick Connect</h3>
            <div class="jumbo-sub">
                <form>
                    <div class="form-group">
                        <input class="form-input-text" type="text" value="" placeholder="Organization Name" />
                    </div>
                    <div class="form-group">
                        <input class="form-input-text" type="text" value="" placeholder="Full Name" />
                    </div>
                    <div class="form-group">
                        <input class="form-input-text" type="text" value="" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <input class="form-input-text" type="text" value="" placeholder="Phone Number" />
                    </div>
                    <button class="submit btn btn-primary">Connect</button>
                </form>
            </div>

    </div>
